@import '@csstools/normalize.css';

* {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
}

span.ml-1 {
  margin-inline-start: 0.25rem;
}

span.mr-1 {
  margin-inline-end: 0.25rem;
}

span.mx-1 {
  margin: 0 0.25rem;
}
